@tailwind base;
@tailwind components;
@tailwind utilities;

/* .contentSwiper{
  min-height: 500px;
} */

/* .titleSwiper {
  height: 950px;
} */

.titleSwiper .swiper-pagination {
  top: auto;
  bottom: 0;
}

.titleSwiper .swiper-pagination-bullet {
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: white;
  background-color: blue;
}

.titleSwiper .swiper-button-next,
.titleSwiper .swiper-button-prev {
  background-color: blue;
  /* background-position: center; */
  height: 40px;
  width: 40px;
  /* background-size: 80px; */
  /* background-repeat: no-repeat; */
  /* padding: 1px 22px; */
  border-radius: 100%;
  /* border: 2px solid black; */
  top: auto;
  bottom: 8px;
}

.titleSwiper .swiper-button-next::after,
.titleSwiper .swiper-button-prev::after {
  font-size: 20px;
  color: white;
}

nav {
    transition: transform .3s ease;
}
.show {
    transform: translateY(0);
}

.hide{
    transform: translateX(100%);
}

#mobile-menu{
    transition: transform .3s ease;
}

.swiper-button-next{
    /* bottom: 2.2rem !important; */
    animation: 1s infinite arrow-right;
}

.swiper-button-prev{
    /* bottom: 2.2rem !important; */
    animation: 1s infinite arrow-left;
}

@keyframes arrow-right {
    0% {
      transform: translateX(-10px);
      /* animation-timing-function: cubic-bezier(0.8, 0, 1, 1); */
    }
    50% {
      transform: translateX(0);
      /* animation-timing-function: cubic-bezier(0, 0, 0.2, 1); */
    }
    100%{
        transform: translateX(-10px);
    }
  }

  @keyframes arrow-left {
    0% {
      transform: translateX(10px);
      /* animation-timing-function: cubic-bezier(0.8, 0, 1, 1); */
    }
    50% {
      transform: translateX(0);
      /* animation-timing-function: cubic-bezier(0, 0, 0.2, 1); */
    }
    100%{
        transform: translateX(10px);
    }
  }
